USE [master]
GO
/****** Object:  Database [Book]    Script Date: 04/16/2018 21:47:15 ******/
CREATE DATABASE [Book] ON  PRIMARY 
( NAME = N'Book', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Book.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Book_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Book_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Book].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Book]
GO
/****** Object:  Table [dbo].[tblBook]    Script Date: 04/16/2018 21:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBook](
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[author] [nvarchar](50) NULL,
	[publisher] [nvarchar](50) NULL,
	[year] [int] NULL,
	[forrent] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblBook] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblBook] ([code], [name], [author], [publisher], [year], [forrent]) VALUES (N'1', NULL, N'1', N'1', 2015, N'true')
INSERT [dbo].[tblBook] ([code], [name], [author], [publisher], [year], [forrent]) VALUES (N'2', NULL, N'3', N'4', 2016, N'true')
INSERT [dbo].[tblBook] ([code], [name], [author], [publisher], [year], [forrent]) VALUES (N'3', N'333', N'333', N'333', 2015, N'false')
